# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output files (for now)
data/anime_clean.csv

# Ignore dataset for now
data/rating.csv
data/anime.csv

# Ignore storage.txt (Notes on functions)
storage.txt


# Ignore models for now (Space related training takes 2-5 mins)

backend/collab_model.pkl
